fastapi
uvicorn
requests
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
pydantic
celery
redis
passlib[bcrypt]
python-jose[cryptography]
python-multipart
psycopg2-binary
sqlalchemy
reportlab
alembic
